/* إعدادات عامّة */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #333;
    margin-top: 20px;
}

/* تصميم الأقسام */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item h3 {
    margin: 0;
}

.price {
    font-weight: bold;
    color: #e60000;
}

/* تذييل الصفحة */
footer {
    text-align: center;
    padding: 1px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
